/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Default Stuff */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Top Header */
#content-header .container h1 {
  line-height: 2;
}

#content-main {
  padding-top: 1em;
}

.form-group {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* All elements of the currency-form take up their own line*/
.form-group * {
  display: block;
}

.form-group label {
  text-align: left;
  font-weight: bold;
  font-style: inherit;
  font-size: 1.2em;
}

.button {
  margin-top: 10px;
}

.more,
.more:focus,
.more:active {
  /* Remove all decorations to look like normal text */
  background: none;
  border: none;
  display: inline;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  outline-offset: 0;
  /* Additional styles to look like a link */
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.2em;
}

.currency-form .primary {
  width: 200px;
  height: 50px;
  background-color: #EF6C00;
  color: #fff;
  vertical-align: middle;
  font-size: 2em;
}

#convert-button:hover {
  background-color: #2a8dd4;
}

select, #datepicker {
  width: 200px;
}

.graph {
  margin-left: auto;
  margin-right: auto;
}

#graph-wrapper {
  display: inline-block;
}

.hidden {
  display: none;
}


