/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Hide the element */
.hidden {
  display: none;
}

/* ==========================================================================
   Default Stuff
   ========================================================================== */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* All elements of the currency-form take up their own line */
.form-group * {
  display: block;
}

/* ==========================================================================
   Top Header
   ========================================================================== */

#content-header .container h1 {
  margin-top: 5px;
  font-weight: bold;
}

/* Helper Buttons */

.helper-buttons {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 5px;
}

.helper-button {
  color: #FFFFFF;
  font-size: 2em;
  margin: 1px 2px;
  display: inline-block;
  cursor: pointer;
  background-color: #2979FF;
  width: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.helper-button:hover {
  color: black;
}

#tutorial-container {
  bottom: 0px;
  display: none;
  left: 20px;
  position: fixed;
  width: 90%;
  height: 88%;
  z-index: 20;
}

.inner {
  background-color: #F0F0F0;
  border: 1px solid #666666;
  border-bottom-width: 0px;
  padding: 0px 15px 400px 15px;
  font-size: 100%;
  text-align: left;
}


/* ==========================================================================
   Main Content
   ========================================================================== */

#content-main {
  padding-top: 1em;
}

.conversion-main {
  display: inline-block;
  width: 90%;
  margin: auto;
}

.form-group {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.currency-selections {
  width: 100%;
} 

.swap-button {
  font-size: 2em;
  cursor: pointer;
}

#datepicker {
  width: 100%;
}

.form-group label {
  text-align: left;
  font-weight: bold;
  font-style: inherit;
  font-size: 1.2em;
  border-bottom: 1px solid #217346;
  margin-bottom: 5px;
}

.color1 {
  background: #b3d4fc;
}

.color2 {
  background: #66BB6A;
}

#convert-button {
  width: 150px;
  height: 50px;
  line-height: 50px;
  background-color: #2979FF;
  color: #fff;
  font-size: 2em;
  margin: 25px auto 0 auto;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

#convert-button:hover {
  background-color: #66BB6A;
}

#convert-button[disabled] {
  background-color: grey;
}

.graph {
  margin-left: auto;
  margin-right: auto;
}

#graph-wrapper {
  display: inline-block;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 200px) {

  #content-header .container h1 {
    font-size: 1em;
  }
  .helper-button {
    font-size: 1em;
    width: 20px;
    margin: 0px 1px;
  }

  #convert-button {
    width: 60%;
    height: 50px;
    line-height: 50px;
    background-color: #2979FF;
    color: #fff;
    font-size: 1em;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 445px) {
  .conversion-main {
    width: 400px;
  }
}

@media screen and (min-width:960px) {
  .container {
    width: 960px;
  }
}


