.history-inner-wrapper{
  width: 100%;
  height: 100%;
  border: 1px solid #666666;
  overflow-x: hidden;
  overflow-y: auto;
}


#table {
  display: table;  
  width: 100%;
  height: 100%;
  background: #fff;
  margin: 0;
  box-sizing: border-box;
}

.caption {
  display: block;
  width: 100%;
  background: #217346; /*Top color*/
  height: 55px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 55px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
  box-sizing: border-box;
  border-bottom: 1px solid #FFFFFF;
}


.header-row {
  background: #8b8b8b;
  color: #fff;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell; 
  padding: 6px; 
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

/* Elements that have a class of cell and content*/
.content {
  overflow-x: scroll;
}

.primary-history {
  text-align: left;
}


input[type="radio"],
input[type="checkbox"]{
  display: none;
}

.cell>table{
  padding-right: 20px;
  border-collapse: collapse;
}
.cell>table, .cell>table td  {
  border-style: solid;
  border-collapse: collapse;
  text-align: right;
  min-width: 55px;
  border-width: 1px;
  line-height: 20px;
  border-spacing: 3px;
  border-color: #666666;
     
}
.cell>table td{
  padding-right: 6px;
  padding-left: 1px;
}


@media only screen and (max-width: 400px)  {

  .row { 
    position: relative;
    display: block;
    border-bottom: 1px solid #ccc; 
  }

  .header-row {
    display: none;
  }
    
  .cell { 
    display: block;
    border: none;
    position: relative;
    line-height: 25px;
    text-align: left;
  }
    
  .primary-history:after {
    content: "";
    display: block;
    position: absolute;
    right:20px;
    top:18px;
    z-index: 2;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #ccc;
  }

  .cell:nth-of-type(n+2) { 
    display: none; 
  }

  input[type="radio"] ,
  input[type="checkbox"] {
    display: block;
    position: absolute;
    z-index: 1;
    width: 95%;
    height: 50px;
    opacity: 0;
    margin: 0;
  }

  input[type="radio"]:checked ~ .cell,
  input[type="checkbox"]:checked ~ .cell {
    display: block;

    border-bottom: 1px solid #eee; 
  }

  input[type="radio"]:checked ~ .cell:nth-of-type(n+2),
  input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2) {
      
    background: #e0e0e0;
  }

  input[type="radio"]:checked ~ .cell:nth-of-type(n+2):before,
  input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2):before {
    content: attr(data-label);

    display: inline-block;
    width: 100%;
    background: #217346;
    height: 20px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: white;

  }

  input[type="radio"]:checked ~ .history-basic-data,
  input[type="checkbox"]:checked ~ .history-basic-data {
    display: inline-block;
    border-right: 1px solid #eee; 
    width: 33.333%;
  }

  input[type="radio"]:checked ~ .history-basic-data:last-child,
  input[type="checkbox"]:checked ~ .history-basic-data:last-child {
    border-right: 0px solid #eee; 
  }

  input[type="radio"]:checked ~ .primary-history,
  input[type="checkbox"]:checked ~ .primary-history  {
    border-bottom: 2px solid #999;
  }

  input[type="radio"]:checked ~ .primary-history:after,
  input[type="checkbox"]:checked ~ .primary-history:after {
    position: absolute;
    right:18px;
    top:22px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; 
    border-top: 10px solid #ccc;
    z-index: 2;
  }
  .primary-history{
    background-color: #217346;
    color: white;
    line-height: 45px;
  }
  .primary-history:hover, .radio-input:hover + .primary-history{
    background-color: #66BB6A;
  }
}
